*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-primary-color:#1976D2;
    --light-primary-color:#BBDEFB;
    --primary-color:#2196F3;
    --text-icons:#FFFFFF;
    --acent-color:#FF9800;
    --primary-text:#212121;
    --secondary-text:#757575;
    --divider-color:#BDBDBD;
}

html {
    font-size: 62.5%;
    font-family: "poppins", sans-serif;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
}

.title h1 {
    color: var(--acent-color);
    font-weight: bold;
    font-size: 36px
}

.form_container{
    width: 100%;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form input{
    width: 250px;
    margin-bottom: 1rem;
}

.form button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius:25px;
    margin-top: 3rem;
    background-color: var(--acent-color);
    color: var(--text-icons);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.form a{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:25px;
    background: #FFFFFF;
    color: var(--acent-color);
    border: 1px solid var(--acent-color);
    text-decoration: none;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}