body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: Black;
    color: white;
}

h3{
    margin-bottom: 20px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 36px;
}

.post__compra a{
    color: #FAA410;
}