*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-primary-color:#1976D2;
    --light-primary-color:#BBDEFB;
    --primary-color:#2196F3;
    --text-icons:#FFFFFF;
    --acent-color:#FF9800;
    --primary-text:#212121;
    --secondary-text:#757575;
    --divider-color:#BDBDBD;
}

html {
    font-size: 62.5%;
    font-family: "poppins", sans-serif;
}

/* Barra de navegacion */

.header {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.nav-logo {
    display: flex;
    width: 10rem;
    height: 6rem;
    margin: .5rem ;
    place-self: left;
    background-image: url(../assets/imgs/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-logo a {
    cursor: pointer;
}

.nav-links ul{
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 1rem;
    display: block;
}

.nav-links li:hover {
    background-color: #2095f2;
}

.nav-links li a:hover {
    color:white;
}

.toggle-button {
    position: absolute;
    top: 2.7rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 15px;
}

/* Portada pagina principal */

.landing {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 540px;
    background-image: linear-gradient(to bottom, #044585, #0f589f, #186cbb, #1d81d7, #2196f3);
    align-items: center;
}

.landing h2 {
    width: 214px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    margin-top: 37px;
    margin-left: 19px;
}

.landing p {
    width: 247px;
    height: 55px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 43px;
    margin-left: 19px;
}

.landing ul {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 17px;
    margin-left: 19px;
    list-style: none;
}

.landing ul li {
    margin-top: 13px;
}

.landing ul li span {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    color: black;
    background-image: url(../assets/icons/check-circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.landing a {
    position: relative;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: #FFFFFF;
    /*Sombras*/
    box-shadow: 0px 4px 8px rgb(24, 21, 14);
    border-radius: 4px;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color:black;
}

.landing a span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
}

/* Descripcion del curso */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: white;
}

.info h2 {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 2.4em;
    color: #000000;
}

.info__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 20px;
}

.info__card {
    flex: 1 1 350px;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 200px;
    margin: 15px;
    padding: 15px;
    background-color: #E5E5E5;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.info__card h3{
    width: 180px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 27px;
    color: #000000;
}

.info__card p {
    width: 217px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.info__card--img {
    width: 1fr;
    height: 1fr;
}

.i1{
    background-image: url(/assets/imgs/decreto-ley.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.i2{
    background-image: url(/assets/imgs/prueba--de-vista.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

.i3{
    background-image: url(/assets/imgs/car-driving.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
}

.contact img{
    width: 75%;
    height: auto;
}

.steps{
    width: 100%;
    min-width: 320px;
    height: 640px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.steps_container {
    width: 90%;
    display: grid;
    place-self: center;
}

.steps_container h1 {
    text-align: center;
    font-size: 5.0rem;
}

.steps_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding: 15px;
    margin-bottom: 60px;
}

.steps_card-number {
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.steps_card-title {
    font-size: 2rem;
    color: var(--primary-text);
    margin-bottom: 10px;
}
.steps_card-text {
    font-size: 2rem;
    color: var(--secondary-text);
}

.listo {
    display: grid;
    place-self: center;
    width: 200px;
    height: 80px;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    align-content: center;
    background-color: red;
    color: white;
    border-radius: 50px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        text-align: center;
    }

    .nav-links li a {
        padding: .5rem 1rem;
    }

    .nav-links.active {
        display: flex;
    }
}