<<<<<<< HEAD
.info{
    height: inherit;
}

.info__email{
    margin-bottom: 20px;
}

.info__container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 18px auto 30px;
}

.plans__slider{
    display: flex;
    height: 380px;
    justify-content: center;
    overflow: hidden;
=======
.info{
    height: inherit;
}

.info__email{
    margin-bottom: 20px;
}

.info__container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 18px auto 30px;
}

.plans__slider{
    display: flex;
    height: 380px;
    justify-content: center;
    overflow: hidden;
>>>>>>> 2b706bf2a3cfe8f2b37f6db08687f604f64c35ea
}